@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h4>Add a new Patient</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.PhoneNumber)
    @Html.TextBoxFor(model => model.PhoneNumber)


    @Html.Label("Select doc")
    @Html.DropDownList("DocId")

    <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all patients", "Index")</p>